*.tmp
*.bcf
*.run.xml
*.tcp
*.tco
*.tdo
*.thm
*.tps
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
Thesis.pdf
